.to-google-map-button {
  display: flex;
  justify-content: center;
  padding: 4px 0;
  width: 100%;
  color: #fff;
  background-color: #5b8b99;
  border-radius: 10px;
  outline: none;
  cursor: pointer;

  &:hover {
    background-color: #7ab8cc;
  }
}
