.connectToMap {
    border-radius: 10px;
    width: 100%;
    padding: 4px 0;
    display: flex;
    justify-content: center;
    background-color: #5b8b99;
    color: #fff;
    outline: none;
    cursor: pointer;
    &:hover {
        background-color: #7AB8CC;
    }
}