.pharmacy-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 450px;
  height: 100vh;
  background-color: #73c0d8;
  z-index: 2500;
  transition: transform 0.5s ease-in;
  transform: translateX(0);

  >div {
    display: flex;
  }

  button {
    position: absolute;
    top: 150px;
    right: -30px;
    width: 30px;
    height: 60px;
    font-size: 40px;
    color: rgb(255, 255, 255);
    background-color: #73c0d8;
    border-style: none;
    border-radius: 0 6px 6px 0;
    outline: none;
    cursor: pointer;
    line-height: 1;
  }
}

.close {
  transform: translateX(-100%);
}

@media screen and(max-width: 450px) {
  .pharmacy-container {
    width: 300px;
  }
}
