.select-box {
  display: flex;
  justify-content: space-around;
  margin: 20px 0;
  .select {
    width: 110px;
  }
  span {
    color: white;
    font-size: 15px;
    margin-right: 15px;
  }
  > div {
    display: flex;
    align-items: center;
  }
}
@media screen and(max-width:450px){
  .select-box{
    .select{
      width: 90px;
    }
    span{
      margin: 8px;
      font-size: 16px;
    }
  }
}

