.select-box {
  display: flex;
  width: 50%;
  flex-direction: column;

  .select {
    margin-right: 8px;
    width: 120px;
    transition: all 0.2s;
    box-sizing: border-box;
  }

  span {
    margin-right: 15px;
    font-size: 15px;
    color: rgb(255, 255, 255);
  }

  > div {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin: 6px auto;
    width: 100%;
  }
}

.select-active {
  border-radius: 4px;
  box-shadow: 0 0 5px 3px rgb(255, 76, 76);
}
@media screen and(max-width: 450px) {
  .select-box {
    .select {
      width: 90px;
    }

    span {
      margin: 8px;
      font-size: 16px;
    }
  }
}

