.select-box {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 1em 4px;
  .select {
    width: 7em;
  }

  span {
    color: white;
    font-size: 15px;
    margin-right: 5px;
  }
  > div {
    display: flex;
    align-items: center;
  }
}
@media screen and(max-width:450px){
  .select-box{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    .select{
      width: 150px;
    }
    .select_cunli{
      width: 150px;
      margin-left: 16px;
    }
    span{
      margin: 8px;
      font-size: 16px;
    }
  }
}

