.pharmacy-container {
  height: 100vh;
  width: 450px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2500;
  background-color: #73c0d8;
  transform: translateX(0);
  transition: transform 0.5s ease-in;
  button {
    outline: none;
    cursor: pointer;
    top: 150px;
    right: -30px;
    position: absolute;
    width: 30px;
    height: 60px;
    font-size: 40px;
    line-height: 1;
    color: white;
    background-color: #73c0d8;
    border: none;
    border-radius: 0 6px 6px 0;
  }
}
.close {
  transform: translateX(-100%);
}
