.today-box {
  width: 100%;
  margin: 10px 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
  h2 {
    font-size: 40px;
  }
  div {
    text-align: right;
    span {
      font-size: 30px;
      color: #fff126;
    }
  }
}
