.loading {
    position: absolute;
    width: 100%;
    height: 100vh;
    background-color: rgba(65, 65, 65, 0.7);
    z-index: 3000;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    .clock {
        position: relative;
        width: 180px;
        height: 180px;
        border: 4px solid white;
        border-radius: 50%;
    }
    span {
        transform-origin: 3px 3px;
        position: absolute;
        top: calc(50% - 3px);
        left: calc(50% - 3px);
        display: block;
        height: 6px;
        border-radius: 5px;
        background-color: white;
    }
    .hour-bar {
        width: 60px;
        animation: barRotate 12s linear infinite;
    }
    .min-bar {
        width: 80px;
        animation: barRotate 1s linear infinite;
    }
}
@keyframes barRotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
