.marker-cluster {
  border-radius: 50%;
  text-align: center;
}
.marker-cluster-small {
  font-size: 12px;
  line-height: 2.6;
  width: 30px;
  height: 30px;
  background: rgba($color: #53ec53, $alpha: 0.7);
}
.marker-cluster-medium {
  font-size: 18px;
  line-height: 2.6;
  width: 45px;
  height: 45px;
  background: rgba($color: #d7f842, $alpha: 0.7);
}
.marker-cluster-large {
  font-size: 20px;
  line-height: 3.5;
  width: 70px;
  height: 70px;
  background: rgba($color: #ff6427, $alpha: 0.7);
}
