.mask-popup {
  > * + * {
    margin-top: 10px;
  }

  h3 {
    color: #666;
  }

  h3:last-of-type {
    text-align: center;
  }
}

.popup-container {
  width: fit-content;
}

.mask-box {
  display: flex;

  h2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
    width: 120px;
    height: 30px;
    font-size: 15px;
    text-align: center;
    color: #fff;
    line-height: 1.8;
  }

  h2:first-child {
    margin-right: 10px;
    background-color: #73c0d8;
    border-radius: 15px;
  }

  h2:last-of-type {
    background-color: #ffa573;
    border-radius: 15px;
  }

  h2.no-mask {
    background-color: #a5a5a5;
  }
}
